{% extends 'Facturacion/base.html' %} 
{% block contenido %}
<!-- page content -->
<div class="right_col" role="main">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel fondo-radial">
              <div class="x_title">
                <h2 class="efecto1">Perfil Usuario</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <br />
                <form
                  id="demo-form2"
                  data-parsley-validate
                  class="form-horizontal form-label-left"
                >
                <!--<div class="alert alert-success alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    <strong>Actualización correcta!</strong> Tus cambios estan actualizados
                    </div>-->
                <div class="form-group">
                    <label
                      class="control-label col-md-3 col-sm-3 col-xs-12"
                      for="first-name"
                      >Nombre<span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input
                        type="text"
                        id="first-name"
                        required="required"
                        class="form-control col-md-7 col-xs-12"
                        value="MARCELO FERNANDO"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label
                      class="control-label col-md-3 col-sm-3 col-xs-12"
                      for="last-name"
                      >Apellidos<span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input
                        type="text"
                        id="last-name"
                        name="last-name"
                        required="required"
                        class="form-control col-md-7 col-xs-12"
                        value="CARRION IYESCAS"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label
                      for="middle-name"
                      class="control-label col-md-3 col-sm-3 col-xs-12"
                      >Cedula/Ruc <span class="required">*</span></label
                    >
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input
                        id="middle-name"
                        class="form-control col-md-7 col-xs-12"
                        type="text"
                        name="middle-name"
                        value="1104133671"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label
                      class="control-label col-md-3 col-sm-3 col-xs-12"
                      for="first-name"
                      >Dirección<span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input
                        type="text"
                        id="first-name"
                        required="required"
                        class="form-control col-md-7 col-xs-12"
                        value="Loja, calle Argentina y Bolivia"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label
                      class="control-label col-md-3 col-sm-3 col-xs-12"
                      for="first-name"
                      >Emaill</label
                    >
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input
                        type="text"
                        id="first-name"
                        required="required"
                        class="form-control col-md-7 col-xs-12"
                        value="marcelocarrion456@gmail.com"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label
                      class="control-label col-md-3 col-sm-3 col-xs-12"
                      for="first-name"
                      >Telefono<span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input
                        type="text"
                        id="first-name"
                        required="required"
                        value="0985025955"
                        class="form-control col-md-7 col-xs-12"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                      <label
                        class="control-label col-md-3 col-sm-3 col-xs-12"
                        for="first-name"
                        >NomUsuario<span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input
                          type="text"
                          id="first-name"
                          required="required"
                          value="mfcarrion"
                          class="form-control col-md-7 col-xs-12"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label
                        class="control-label col-md-3 col-sm-3 col-xs-12"
                        for="first-name"
                        >Clave<span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input
                          type="password"
                          id="first-name"
                          required="required"
                          value="adminmacis"
                          class="form-control col-md-7 col-xs-12"
                        />
                      </div>
                    </div>
      
                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                     <!--  <button class="btn btn-primary" type="button">Cancelar</button>
                      <button class="btn btn-primary" type="reset">Reset</button> -->
                      <button type="submit" class="btn btn-primary"><i class="fa fa-save" style="padding-right: 10px"></i>Guardar</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <br />
      </div>
      <!-- /page content -->
<style>
  .form-control{
    width: 100%;
  }


{% endblock contenido %}
